{{ define "main" }}
<section class="section">
  <div class="container">
    <div class="column is-centered" style="font-size: xx-large">
      <span style="color: green;" id="countdown">10</span> DAY SINCE LAST COOKING ACCIDENT ON <span style="color: red" id="lastAccidentDate"></span>.
    </div>
    <div class="columns is-centered">
      <div class="column">
        <div style="margin-bottom: 1em;">
          {{ range .Site.Taxonomies.tags }}
          <a class="tag" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column">
        {{ range $index, $page := .Site.RegularPages }}
          {{ if eq (mod $index 4) 0 }}{{ partial "box.html" $page }}{{ end }}
        {{ end }}
      </div>
      <div class="column">
        {{ range $index, $page := .Site.RegularPages }}
          {{ if eq (mod $index 4) 1 }}{{ partial "box.html" $page }}{{ end }}
        {{ end }}
      </div>
      <div class="column">
        {{ range $index, $page := .Site.RegularPages }}
          {{ if eq (mod $index 4) 2 }}{{ partial "box.html" $page }}{{ end }}
        {{ end }}
      </div>
      <div class="column">
        {{ range $index, $page := .Site.RegularPages }}
          {{ if eq (mod $index 4) 3 }}{{ partial "box.html" $page }}{{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>

<script>
var lastAccidentDate = new Date("2023-09-15");
var distance = Math.floor((new Date().getTime() - lastAccidentDate.getTime()) / (1000 * 60 * 60 * 24));
document.getElementById("countdown").innerHTML = distance;
document.getElementById("lastAccidentDate").innerHTML = lastAccidentDate.toDateString();
</script>
{{ end }}